{% extends 'base.html' %}
{% load static %}

{% block title %}Adicionar Tarefa{% endblock %}

{% block content %}
<h1 class="mt-4" style="color: #ff6d00;">Adicionar Tarefa</h1>
<hr style="border-color: #ff6d00;"> <!-- Divisor abaixo do título -->

<div class="container" style="max-width: 60%;">
   <form method="post" class="form">
       {% csrf_token %}
       
       <!-- Campo para selecionar o Trabalho -->
       <div class="mb-3">
           <label for="id_trabalho" class="form-label">Trabalho</label>
           {{ form.trabalho }}
       </div>
       
       <div class="mb-3">
           <label for="id_descricao" class="form-label">Descrição</label>
           {{ form.descricao }}
       </div>
       
       <div class="mb-3">
           <label for="id_estado" class="form-label">Estado</label>
           {{ form.estado }}
       </div>
       
       <div class="mb-3">
           <label for="id_prioridade" class="form-label">Prioridade</label>
           {{ form.prioridade }}
       </div>

       <div class="d-flex justify-content-between mt-4">
           <button type="submit" class="btn btn-success">
               <i class="bi bi-check-circle"></i> Salvar Tarefa
           </button>
           <a href="{% url 'listar_tarefas' %}" class="btn btn-secondary">
               <i class="bi bi-x-circle"></i> Cancelar
           </a>
       </div>

       <div style="height: 50px;"></div> <!-- Ajuste a altura conforme necessário -->
   </form>
</div>
{% endblock %}
