html,
body {
    height: 100%;
    /* Garante que o documento ocupe 100% da altura da janela */
    margin: 0;
    padding: 0;
    /* Remove qualquer espaçamento padrão */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* O wrapper ocupa 100% da altura da página */
}

.container {
    flex-grow: 1;
    /* O conteúdo principal ocupa o espaço necessário */
}

.footer {
    background-color: #ffb74d;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    margin-top: auto;
    /* Garante que o footer fique no final do conteúdo */
}

/* Global font */
* {
    font-family: 'Play', sans-serif;
    /* Aplica a fonte Play a todos os elementos */
}

.pagination .page-link {
    color: #ff6d00;
    /* Orange color for the links */
}

.pagination .page-item.active .page-link {
    background-color: #ff6d00;
    /* Orange background for the active page */
    color: white;
    /* White text for better contrast */
}

.pagination .page-item:hover .page-link {
    background-color: rgba(255, 109, 0, 0.2);
    /* Light orange on hover */
}